<!doctype html>
<html lang="">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - musicServer</title>

  <link href='../css/grommet.min.css' rel='stylesheet' type='text/css'>
    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
</head>
<body>
  <div id="content"></div>
  @RenderBody()
  @{//await FlushAsync()
 }
  <script type="text/javascript" src="../bundle.js" />
  <script type="text/javascript" to_babel>
  
  </script>    

    @RenderSection("scripts", required: false)
</body>
</html>
